.linear_gradient_main_card {
  position: relative;
}
.background_gradient_card {
  position: relative;
}
.chatcard_items {
  z-index: 3990;
  position: relative;
}
#right_rectange_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 60;
  overflow: hidden;
  height: 100%;
}
#topright_rectange_bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  height: 280px;
  overflow: hidden;
}

#bottomfullWidth_rectange_bg {
  z-index: 100;
  height: 79px;
  left: 0;
  position: absolute;
  right: 0;
  top: 1px;
  width: 100%;
}
#conversation_btn {
  height: 39px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 211px;
}

#topfullWidth_rectange_bg {
  z-index: 99;
  height: 250px;
  left: 0;
  position: absolute;
  right: 0;
  top: 29px;
  width: 100%;
}

.conversation_btn_cart {
  position: relative;
  background: linear-gradient(to right, black, #2d2d2d, black);
  border: none;
  isolation: isolate;
  box-shadow: 4px 3px 46px rgba(0, 0, 0, 0.5);
}
.conversation_btn_cart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  padding: 2px;
  background: 
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.7) 15%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0.1) 45%,
      transparent 60%
    ),
    linear-gradient(
      to bottom,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 55%,
      rgba(255, 255, 255, 0.2) 70%,
      rgba(255, 255, 255, 0.2) 85%,
      rgba(255, 255, 255, 0.1) 100%,
      transparent 30%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 20%,
      transparent 15%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 20%,
      transparent 15%
    );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
.conversation_btn_cart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: 
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.15) 10%,
      transparent 25%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.15) 10%,
      transparent 25%
    );
  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
  opacity: 0.8;
}