.linear_gradient_main_card {
  position: relative;
}
.background_gradient_card {
  position: relative;
  
}
.chatcard_items {
  z-index: 3990;
  position: relative;
}
#right_rectange_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 60;
  overflow: hidden;
  height: 100%;
}
#topright_rectange_bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  overflow: hidden;
}
/* bottomfullWidth_rectange_bg */
#bottomfullWidth_rectange_bg {
   z-index: 29;
    height: 79px;
    left: 0;
    position: absolute;
    right: 0;
    top: 1px;
    width: 100%; 
}
#conversation_btn{
    height: 39px;
    position: absolute;
    z-index: 200;
    /* top: 0; */
    left: 0;
    right: 0;
    /* bottom: 0; */
    width: 211px;
}

#topfullWidth_rectange_bg {


     height: 275px;
    left: 0;
    position: absolute;
    right: 0;
    top: 29px;
    width: 100%;
}
