.linear_gradient_main_card {
  position: relative;
}
.background_gradient_card {
  position: relative;
}
.chatcard_items {
  z-index: 3990;
  position: relative;
}
#right_rectange_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 30;
  overflow: hidden;
  height: 100%;
}
#topright_rectange_bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  overflow: hidden;
}
#topfullWidth_rectange_bg {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 35;
  overflow: hidden;
}
#bottomfullWidth_rectange_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 201;
}
